<h5 class="mb-4 fadeIn-fast" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"> Últimas novedades</h5>

<!-- <div class="d-flex justify-content-center"> -->

  <div *ngFor="let noticia of noticias" class="card col-10 mb-2 ml-5 fadeIn" style="cursor: pointer;">
    <div class="card-body">
      <div class="row">
        <div class="col-8 col-xs-12">
          <h5 class="card-title"> {{noticia.titulo}} </h5>
          <p class="card-text"> {{noticia.cuerpo}} </p>
        </div>
        <div class="col-4 col-xs-12">
          <img [src]="noticia.imagenURL" id="imagen" width="250" height="190">
        </div>
      </div>
      <p><small> {{noticia.fecha_emision | date: 'd MMM,  y'}} </small></p>
    </div>
  </div>

<!-- </div> -->