.lista {
    cursor: pointer;
    text-align: left;
    text-anchor: start;
    font-size: 14px;
    margin-bottom: 0vh;
}

.lista:hover {
    transition: 0.05s;
    color: rgba(20, 52, 104, 0.952);
    font-weight: bold;
    font-size: 15px;
}

.imagen{
    cursor: pointer;
}

@media only screen and (max-width: 1139px) {
    #imagen{
        width: 250px;
        height: 90px;
    }
}

@media only screen and (max-width: 950px) {
    #imagen{
       width: 170px;
       height: 70px; 
    }
}

@media only screen and (max-width: 500px) {
    #imagen{
        width: 140px;
        height: 60px;
    }
}

@media only screen and (max-width: 340px) {
    #imagen{
        width: 130px;
        height: 30px;
    }
}